.main {
  
  .currencies {
    display: flex;
    justify-content: space-around;
    background-color: $gray;
    padding: 15px 0;

    [type = "radio"] {
      display: none;
    }

    [type = "radio"] ~ span {
      color: $very-light-gray;
      font-size: 18px;
    }

    [type = "radio"]:checked ~ span {
      color: $white;
    }
  }

  .price-div {
    background-color: $red;
    display: grid;
    place-content: center;
    padding: 15px 0;

    p {
      color: $white;
      font-size: 50px;
    }
  }

  .graph {
    width: 80%;
    display: grid;
    place-content: center;
    margin: 25px auto 10px;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .about {
    padding: 20px;
    p {
      color: $very-light-gray;
      &:first-child {
        font-size: 20px;
        color: $white;
        margin-bottom: 5px;
      }
    }
  }
}